<div class="background-container">
    <div class="login-container">
      <div class="form-container">
        <div class="site-title">
          Bodhidharma Book Store
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <div class="form-group">
              <label for="username" class="hide">{{userNameText}}</label>
              <input type="text" class="form-control text-input" formControlName="userName" class="form-control"
                autocomplete="off" required 
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
            </div>
            <div class="form-group">
              <label for="password" class="hide">{{passwordText}}</label>
              <input type="password" class="form-control text-input" formControlName="password" class="form-control"
               maxlength="16" required  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </div>
            <div class="form-group">
              <button class="btn login-button"> Login </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>